@font-face {
  font-family: 'font-fourbest';
  src:  url('../fonts/font-fourbest.eot?j78zvr');
  src:  url('../fonts/font-fourbest.eot?j78zvr#iefix') format('embedded-opentype'),
    url('../fonts/font-fourbest.ttf?j78zvr') format('truetype'),
    url('../fonts/font-fourbest.woff?j78zvr') format('woff'),
    url('../fonts/font-fourbest.svg?j78zvr#font-fourbest') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fbs {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-fourbest' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fbs-icon-fbs:before {
  content: "\e900";
  /* color: rgb(0, 0, 0); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
